*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (max-width: 768){

    :root{
        font-size: 14px;
    }
}
@media screen and (min-width: 769) and (max-width: 1024){
    
}