*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 15vh, 75vh, 10vh;
        gap: 0px, 0px;
        grid-template-areas: "header"
        "main"
        "footer";
    }

    :root{
        font-size: 14px;
    }

    header {
        height: 9vh;
        grid-area: header;
        display: grid;
        grid-template-columns: 16vw, 16vw, 16vw, 16vw, 16vw, 16vw;
        grid-template-rows: 1fr, 1fr;
        grid-template-areas: "pagprincipal pag2 pag3" 
        "pag4 pag5 pag6";
        background-color: lightseagreen;
    }

    .links{
        margin-left: 3%;
        margin-top: 3%;
        text-decoration: none;
        color: black;
    }

    .links :hover{
        margin-left: 3%;
        margin-top: 3%;
        text-decoration: underline;
        color: black;
        font-weight: bold;
    }

    #tPag{
        margin-left: 3%;
        margin-top: 3%;
        font-style: italic;
        font-weight: bold;
        color: black;
    }

    main{
        height: 80vh;
        grid-area: main;
        background-image: url(../imagenes/Home.png);
        background-size: cover;
    }

    #texto{
        margin-top: 5%;
        margin-left: 10px;
        margin-right: 50%;
        margin-bottom: 50%;
        color: white;
    }

    #boton{
        margin-left: 10%;
        padding: 3px;
        text-decoration: none;
        background-color: blue;
        color: white;
        font-size: 1.5rem;
        border-radius: 8%;
    }


    #boton :hover{
        margin-left: 49%;
        padding: 3px;
        text-decoration: none;
        background-color: white;
        color: blue;
        font-size: 1.5rem;
        border-radius: 8%;
    }

    footer{
        height: 11vh;
        grid-area: footer;
        background-color: lightseagreen;
        text-align: center;
        align-content: center;
    }

    span{
        font-weight: bold;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 15vh, 75vh, 10vh;
        gap: 0px, 0px;
        grid-template-areas: "header"
        "main"
        "footer";
    }

    :root{
        font-size: 16px;
    }

    header {
        height: 9vh;
        grid-area: header;
        display: grid;
        grid-template-columns: 16vw, 16vw, 16vw, 16vw, 16vw, 16vw;
        grid-template-areas: "pagprincipal pag2 pag3 pag4 pag5 pag6";
        background-color: lightseagreen;
        align-content: center;
        text-align: center;
    }

    .links{
        text-decoration: none;
        color: black;
    }

    .links :hover{
        text-decoration: underline;
        color: black;
        font-weight: bold;
    }

    #tPag{
        font-style: italic;
        font-weight: bold;
        color: black;
    }

    main{
        height: 80vh;
        grid-area: main;
        background-image: url(../imagenes/Home.png);
        background-size: cover;
    }

    #texto{
        margin-top: 5%;
        margin-left: 10px;
        margin-right: 63%;
        margin-bottom: 29%;
        font-size: 3rem;
        color: white;
    }

    #boton{
        margin-left: 7%;
        padding: 3px;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        border-radius: 8%;
    }


    #boton :hover{
        margin-left: 49%;
        padding: 3px;
        text-decoration: none;
        background-color: white;
        color: blue;
        font-size: 1.5rem;
        border-radius: 8%;
    }

    footer{
        height: 11vh;
        grid-area: footer;
        background-color: lightseagreen;
        text-align: center;
        align-content: center;
    }

    span{
        font-weight: bold;
    }
}